
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;          
    padding: 0;         
    box-sizing: border-box; 
}
.navigationbar a.active {
    color: tomato;
}   
body {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;                   
    font-weight: 400;                  
    color: #000;                      
    line-height: 1.6;                  
    background-color: #fff;            
    margin: 0;          
}
.navigationbar{
    margin: 150px;
}

div.navigationbar{
    margin: 10px;
}
h1 {
    font-size: 28px;      
    font-weight: 700;     
    margin: 20px 0;       
}

h2 {
    font-size: 22px;      
    font-weight: 700;     
    margin: 20px 0 10px;  
}

nav {
    margin-bottom: 20px;  
}

nav ul {
    list-style: none;     
    display: flex;        /*для горизонтального расположения*/
    gap: 20px;          /*для отступа между колонками и рядами*/  
}

nav li {
    font-size: 18px;      
    font-weight: 500;     
    cursor: pointer;      
}

/* Эффект при наведении на пункт меню */
nav li:hover {
    text-decoration: underline; 
}



img {
    width: 60%;           
    height: auto;         
    margin: 20px 0;       
    border-radius: 5px;   
}


section {
    margin-bottom: 30px;  
}

table {
    width: 100%;          
    border-collapse: collapse;   
    margin-top: 15px;     
    border: #000;         
}


th, td {
    border: 1px solid #000; 
    padding: 10px;         
    text-align: center;    
    font-size: 16px;       
}

/* Контейнер с отступами */
.container {
    padding: 30px;
}

/* Футер теперь всегда во всю ширину */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
a {
    text-decoration: none;
}
nav a {
    text-decoration: none;        
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;              
    color: #000;                 
    font-weight: 500;             
    transition: color 0.3s ease;  
}

nav a:hover {
    color: #ff6600;               
}